
extends ../layout
block append head
  link(rel='stylesheet', href='/stylesheets/pages/index.css')
block content
  h1= title
  div#test
    p.text Welcome to #{title}
    p(style='color:red') var  a= test
    p= 'This code is' + ' <strong>not</strong> escaped!'